@font-face {
  font-family: "HelveticaNeueMed";
  src: url("/fonts/HelveticaNeueMed.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueBd";
  src: url("/fonts/HelveticaNeueBd.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueLt";
  src: url("/fonts/HelveticaNeue.ttf") format("truetype");
  font-display: swap;
}
