@import "./breakpoints.scss";
@import "./signedIn.scss";
@import "./fonts.scss";

.signInTitle {
  font-family: "HelveticaNeueMed", Helvetica, sans-serif;
  font-weight: Bold;
  margin-top: 7%;
  padding: 0 10%;
  line-height: 10px;
  color: black;
  @include media(">=2500px") {
    font-size: 3rem;
  }
}
.signInLog {
  font-family: "HelveticaNeueMed", Helvetica, sans-serif;
  padding: 0 10%;
  line-height: 10px;
  color: black;
  @include media(">=2500px") {
    font-size: 2.5rem;
  }
}
.signInLog2 {
  color: rgb(0, 0, 0);
  font-family: "HelveticaNeueMed", Helvetica, sans-serif;
  font-weight: 300;
  padding: 0 10%;
  margin-bottom: 7%;
  line-height: 10px;
  @include media(">=2500px") {
    font-size: 2.5rem;
  }
}
.signincard {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.aflogo {
  position: absolute;
  width: 80px;
  bottom: 5%;
  right: 4%;
  @include media("<=1200px") {
    width: 40px;
    bottom: unset;
    top: 5%;
    right: unset;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.container {
  position: relative;
  height: 100vh;
  background: linear-gradient(359deg, #1db954, #1db954, #000000);
  background-size: 200% 200%;

  -webkit-animation: AnimationName 5s forwards ease;
  -moz-animation: AnimationName 5s forwards ease;
  animation: AnimationName 5s forwards ease;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 100%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 100%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 100%;
  }
}
.feather {
  position: absolute;
  height: 50px;
  margin: 0 auto;
  bottom: 5%;
}
.info {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background-color: #1db954;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  p {
    a {
      color: rgb(3, 105, 145);
    }
    font-family: "HelveticaNeueMed", Helvetica, sans-serif;
    text-align: center;
    font-size: 1.3rem;
    margin: 10px 3%;
    @include media(">=tablet") {
      margin: 10px 15%;
    }
  }
  img {
    position: absolute;
    height: 50%;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    @include media(">=tablet") {
      top: 62%;
      left: 50%;
      height: 55%;
    }
    @include media("<=300px") {
      top: 78%;
      left: 50%;
      height: 55%;
    }
  }
}
.center {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;

  background-color: white;

  min-width: 22%;
  margin: auto;
  @include media("<=1200px") {
    width: 300px;
  }
  @include media("<=300px") {
    width: 250px;
  }

  filter: drop-shadow(0px 10px 11px rgba(0, 0, 0, 0.25));
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    filter: drop-shadow(0px 25px 25px rgba(0, 0, 0, 0.25));
  }
}
.signInSqr {
  width: 100%;
  padding-top: 90%;
  background-color: #1ed760;
  transition: 0.3s;
  &:hover {
    background-color: #21e666;
    transition: 0.3s;
  }
}
