@mixin flexwrap($direction, $wrap: false) {
  display: flex;
  flex-direction: $direction;
  @if $wrap {
    flex-wrap: wrap;
  }
}
@import "./styles/breakpoints.scss";
.pantone-card {
  @include flexwrap(column, $wrap: true);
  justify-content: flex-start;
  border-radius: 3vh;
  width: 32vh;
  height: 93%;
  margin: auto;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @include media("<=phone") {
    max-width: 32vh;
    height: 93%;
  }
}
.signed-in {
  height: 100vh;
}
.card-display {
  margin: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
//Nav Buttons
.navigation {
  // @include media("<=1200px") {
  //   background: linear-gradient(
  //     180deg,
  //     rgba(30, 215, 96, 0.7) 0%,
  //     rgba(30, 215, 96, 0.5) 15%,
  //     rgba(221, 221, 221, 0) 100%
  //   );
  // }
  :last-child {
    border-radius: 0 0 10px 10px;
    @include media("<=1000px") {
      border-radius: unset;
    }
  }
  @include media("<=1000px") {
    height: unset;
  }
  div {
    text-align: center;
    font-family: "HelveticaNeueMed", Helvetica, sans-serif;
  }
  position: absolute;
  z-index: 5;
  display: flex;
  top: 5%;
  justify-content: center;
  flex-direction: column;
  left: 5%;
  // padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  @include media("<=1000px") {
    left: unset;
    flex-direction: row;
    flex-wrap: wrap;
    top: unset;
    transform: unset;
    position: relative;
    padding-left: 0%;
    margin: auto;
    width: 100%;
    border-radius: 0px;
    // height: 50%;
    padding: 0px;
    // padding-top: 40%;
    :last-child {
      border-radius: 0 0 10px 0;
    }
    :nth-child(2) {
      border-radius: 0 0 0 10px;
    }
  }
  .hey {
    margin: auto;
    // padding-right: 10px;
    padding: 10px;
    @include media("<=1000px") {
      font-size: 1.5rem;
      width: 100%;
      flex: 1 0 100%;
      padding: 20px 0 20px 0;

      height: 20px;
    }
    // padding: 10px 0 10px 0;
  }
  .btn {
    border: none;
    outline: none;
    flex: 1 0 10%;
    width: 100%;
    padding: 20px 20px;
    // margin: 10px auto;
    @include media("<=1000px") {
      width: 100%;
      margin: 0px auto;
      padding: 10px;
    }
    // border-radius: 10px;
    font-family: "HelveticaNeuewoff", Helvetica, sans-serif;
    font-weight: 700;
  }
}
//Top Title
.title-card {
  width: 100%;
  text-align: center;
  font-family: "HelveticaNeueBd", Helvetica;
  text-align: center;
  height: 3%;
  margin: 5% 0;
  font-size: 3vh;
}
// Swatch and Album Art
.song {
  height: 22%;
  width: 100%;
  .song-color {
    overflow: hidden;
    height: 70%;
    img {
      opacity: 0.6;
      position: relative;
      float: right;
      height: 100%;
      -webkit-mask-image: -webkit-gradient(
        linear,
        right top,
        left top,
        from(rgba(0, 0, 0, 1) 50%),
        to(rgba(0, 0, 0, 0))
      );
      mask-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.9) 30%,
        rgba(0, 0, 0, 0)
      );
    }
  }
}
.track-info {
  height: 25%;
  width: 100%;
  font-family: "HelveticaNeue", Helvetica;
  @include flexwrap(row, $wrap: true);
  justify-content: flex-start;
  .song-name-div {
    flex: 0 1 40%;
    width: 45%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: left;
    align-content: flex-start;
    margin-right: 1%;
  }
  .flex-track {
    display: flex;
    flex: 1 1 50%;
    max-width: 50%;
  }

  .bold-title {
    font-family: "HelveticaNeueMed", Helvetica;
    margin: 0 0 0 4%;
    width: 96%;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
}
// Punchole/Logo Area
.bottom {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  max-height: 4%;
  width: 100%;
  h1 {
    font-size: 1vh;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  .punchhole {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    height: 100%;
    background-color: #dddddd;
    border-radius: 50%;
    width: 12%;
    height: 100%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.logo {
  width: 80%;
  opacity: 0.13;
}
@mixin lineclamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Track Information Text
.song-name {
  font-family: "HelveticaNeueMed", Helvetica;
  font-size: 1.3vh;
  font-weight: 300;
  flex-grow: 1;
  max-width: 44%;
  margin-top: 3%;
  margin-left: 2%;
  flex-basis: 45%;
  @include lineclamp(2);
}
.left-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.3vh;
  margin: auto 0 auto 3px;
  line-height: 1.5vh;
  flex: 1 0 75%;
  @include media("<=phone") {
    margin-right: 1%;
  }
}
.left-info-sub {
  margin: auto 0 auto 3px;
  font-weight: 600;
  font-size: 1.2vh;
  line-height: 1.5vh;
}
.timed-out {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // margin: auto;
  text-align: center;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  // height: 100px;
}
