@mixin flexwrap($direction, $wrap: false) {
  display: flex;
  flex-direction: $direction;
  @if $wrap {
    flex-wrap: wrap;
  }
}
@import "./styles/breakpoints.scss";
.pantone-card {
  @include flexwrap(column, $wrap: true);
  justify-content: flex-start;
  border-radius: 3vh;
  width: 32vh;
  height: 90%;
  margin: auto;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @include media("<=phone") {
    max-width: 35vh;
    height: 92%;
  }
}
.signed-in {
  height: 100vh;
}
.card-display {
  margin: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
//Nav Buttons
.navigation {
  div {
    text-align: center;
    font-family: "HelveticaNeue", Helvetica, sans-serif;
    font-weight: bold;
  }
  position: absolute;
  z-index: 5;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 80px;
  @include media("<=1200px") {
    background-color: #dddddd;
    position: relative;
    padding-left: 0%;
    margin: auto;
    width: 100%;
    height: 50%;
    padding-top: 40%;
  }
  .btn {
    width: 200px;
    font-family: "HelveticaNeuewoff", Helvetica, sans-serif;
    font-weight: 700;
    margin: 20px auto;
  }
}
//Top Title
.title-card {
  width: 100%;
  text-align: center;
  font-family: "HelveticaNeueBd", Helvetica;
  text-align: center;
  height: 3%;
  margin: 5% 0;
  font-size: 3vh;
}
// Swatch and Album Art
.song {
  height: 22%;
  width: 100%;
  .song-color {
    overflow: hidden;
    height: 70%;
    img {
      opacity: 0.6;
      position: relative;
      float: right;
      height: 100%;
      -webkit-mask-image: -webkit-gradient(
        linear,
        right top,
        left top,
        from(rgba(0, 0, 0, 1) 50%),
        to(rgba(0, 0, 0, 0))
      );
      mask-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.9) 85%,
        rgba(0, 0, 0, 0)
      );
    }
  }
}
.track-info {
  height: 30%;
  width: 100%;
  font-family: "HelveticaNeue", Helvetica;
  @include flexwrap(row, $wrap: true);
  justify-content: flex-start;
  .song-name-div {
    flex: 0 1 40%;
    width: 45%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: left;
    align-content: flex-start;
    margin-right: 1%;
  }
  .flex-track {
    display: flex;
    flex: 0 1 50%;
    max-width: 50%;
  }

  .bold-title {
    font-family: "HelveticaNeueMed", Helvetica;
    margin: 2% 0 2% 4%;
    width: 96%;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
}
// Punchole/Logo Area
.bottom {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  max-height: 4%;
  width: 100%;

  .punchhole {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    height: 100%;
    background-color: #dddddd;
    border-radius: 50%;
    width: 12%;
    height: 100%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.logo {
  width: 80%;
  opacity: 0.13;
}
@mixin lineclamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Track Information Text
.song-name {
  font-family: "HelveticaNeue", Helvetica;
  font-size: 1.8vh;
  font-weight: 300;
  line-height: 2.3vh;
  margin: 2% 1%;
  flex-grow: 1;
  max-width: 48%;
  @include lineclamp(2);
  @include media("<=phone") {
    margin-right: 1%;
  }
}
.left-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 2vh;
  margin: auto 0 auto 3px;
  line-height: 2vh;
  flex: 1 0 75%;
  @include media("<=phone") {
    margin-right: 1%;
  }
}
.left-info-sub {
  margin: auto 0 auto 3px;
  font-weight: 600;
  font-size: 1.8vh;
  line-height: 2vh;
}
.timed-out {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // margin: auto;
  text-align: center;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  // height: 100px;
}
